<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Demo Web Shop" parallel="tests" thread-count="10">
    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="utility.TestRunner"/>
        </classes>
    </test>
    <test name="Safari">
        <parameter name="browser" value="safari"/>
        <classes>
            <class name="utility.TestRunner"/>
        </classes>
    </test>
</suite> <!-- Suite -->